body{
    background-color:rgb(39, 39, 184);
    display: flex;
    justify-content: space-around;
    padding: 240px 0;
    font-size:30px;
}

.cabecalholistaitem{
    display:inline-block;
margin: 0 16px;
padding: 78px 0;
}

.sobreImagem{
           width: 3%;
}

.sobre{
        background-image: linear-gradient(#1436a8, #1151b1);
        color: rgb(12, 97, 224);
        display: flex;
        justify-content: center;
       align-items: 24px o;
       padding: 15px 0;
}

.sobreConteudo{
    display: inline-block;
    margin: 0 12px;
    padding: 5px 0;
}

.sobreTitulo{
       width: 30%;

}
    
.sobre{
            
         background-image: linear-gradient(#e4e7f0, #aab7ca);
        color: rgb(12, 97, 224);
        display: flex;
        justify-content: center;
       align-items: 24px o;
       padding: 15px 0;
}
       .sobreConteudo{
        width:40%
       }

       .sobretitulo{
        padding: 20px
       }
